
h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}

.kaiwa.mystyle {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    background: #ddd;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue", "Lucida Sans Unicode", "Arial";
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    overflow: hidden;
}
/*フキダシ共通*/
.kaiwa.mystyle .fukidasi {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 10px 20px;
    padding: 9px 14px;
    background: white;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;/*はてな用*/
}
/*フキダシ左*/
.kaiwa.mystyle .fukidasi.left {
    float: left;
}
/*フキダシ右*/
.kaiwa.mystyle .fukidasi.right {
    float: right;
}
/*しっぽ共通*/
.kaiwa.mystyle .fukidasi::after {
    position: absolute;
    content: "";
    width:26px;
    height:26px;
    top: 5px;
}
/*しっぽ左*/
.kaiwa.mystyle .fukidasi.left::after {
    left: -22px;    
    border-radius: 0 0px 10px 16px; 
    box-shadow: -8px -14px 0 -8px white inset;
}
/*しっぽ右*/
.kaiwa.mystyle .fukidasi.right::after {
    right: -22px;
    border-radius: 0 0px 16px 10px; 
    box-shadow: 8px -14px 0 -8px white inset;
}
